@model IEnumerable<WebSiteINF.Models.Ad>

@{
    ViewData["Title"] = "Show Ads";
}

<h1>Show Ads</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageLink)
                </td>
                <td style="display:block;max-height:500px;max-width: 600px;overflow-wrap:break-word">
                    @Html.DisplayFor(modelItem => item.Text)
                </td>

            </tr>
        }
    </tbody>
</table>
